<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebSite">
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111698249-7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111698249-7');
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Force IE 8/9/10 to use its latest rendering engine -->
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="Celebrate Manufacturing Day 2018 with the SME Virtual Network!">
  <meta name="keywords" content="engineering, manufacturing, sme, smevirtual, education, mfgday">
  <meta name="robots" content="index,follow">
  <meta name="googlebot" content="index,follow">
  <meta name="google" content="nositelinkssearchbox">

  <!-- For Facebook, Reddit and some other social networks -->
  <!-- Thumbnail size is 500px x 500px -->
  <meta name="thumbnail"           content="https://mfgday.smevirtual.com/thumbnail.png">
  <meta property="og:type"         content="website">
  <meta property="og:title"        content="SME Virtual Network">
  <meta property="og:description"  content="We work to energize, mobilize and engage the global engineering and manufacturing community via the Internet.">

  <!-- Facebook Card image size is specified in 'og:image:width' and 'og:image:height' -->
  <meta property="og:image"        content="https://mfgday.smevirtual.com/og_card_thumbnail.png">
  <meta property="og:image:width"  content="1200">
  <meta property="og:image:height" content="1200">

  <!-- For Twitter -->
  <meta name="twitter:card"        content="summary_large_image">
  <meta name="twitter:site"        content="@smevirtual">
  <meta name="twitter:creator"     content="@smevirtual">

  <!-- For Google+ (Schema.org) -->
  <meta itemprop="name" content="SME Virtual Network">
  <meta itemprop="description" content="We work to energize, mobilize and engage the global engineering and manufacturing community via the Internet.">
  <!-- Image size is 1920px x 1080px -->
  <meta itemprop="image" content="https://mfgday.smevirtual.com/rich_snippet.png">

  <title>Manufacturing Day 2018 | SME Virtual Network</title>

  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>

  <!-- For LinkedIn conversion tracking -->
  <script type="text/javascript"> _linkedin_partner_id = "480452"; window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || []; window._linkedin_data_partner_ids.push(_linkedin_partner_id); </script><script type="text/javascript"> (function(){var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script"); b.type = "text/javascript";b.async = true; b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);})(); </script> <noscript> <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=480452&fmt=gif" /> </noscript>

</head>
<body>
  <!--[if IE]>
    <div class="container-fluid py-2 smev-outdated-banner">
      <p class="my-0">This site works best when you are using a modern web browser. Please consider <a href="http://outdatedbrowser.com/" target="_blank">upgrading your browser</a> to improve your experience.</p>
    </div>
  <![endif]-->

  <div class="container-fluid py-2 smev-outdated-banner" style="display: none">
    <p class="my-0">This site works best when you are using a modern web browser. Please consider <a href="http://outdatedbrowser.com/" target="_blank">upgrading your browser</a> to improve your experience.</p>
  </div>

  <main role="main">

    <div class="w-100 d-flex smev-home-hero__wrapper">
      <video class="sme-home-hero__video" playsinline="" width="100%" height="100%" preload="true" autoplay="autoplay" loop="loop" muted="" defaultMuted>
        <source height="100%" width="100%" src="/digital_factory.mp4" type="video/mp4">
      </video>
      <div class="p-5 smev-home-hero__content">
        <a href="https://smevirtual.com/">
          <img class="smev-home-hero__logo" src="/smevirtual_logo_color_gray_bg_4.svg" alt="SME Virtual Network">
        </a>
        <h1 class="pt-4 smev-home-hero__heading">Manufacturing Day 2018</h1>
        <p class="smev-home-hero__subheading">Join us as we celebrate modern manufacturing and its ability to enlighten and inspire the next generation of students and professionals.</p>
      </div>
    </div> <!-- hero -->

    <div class="mx-auto smev-home-hero__arrow">
      <i class="fas fa-arrow-down"></i>
    </div>

    <section class="p-5 w-100 row smev-content-section smev-content-section__smart">
      <article class="col-xl-6 col-lg-12">
        <span class="badge smev-content-section__time-badge smev-content-section__time-badge--light">12:00 pm CST</span>
        <h2 class="pt-2">Introduction to Smart Manufacturing and Industry 4.0</h2>
        <div class="pt-4 smev-content-section__presenter">
          <div><a href="https://www.linkedin.com/in/adam-j-cook/">Adam J. Cook</a></div>
          <div>Chief Technical Officer of <a href="https://alliedstrand.com/">Alliedstrand</a></div>
        </div>
        <p class="py-4">Smart Manufacturing and Industry 4.0 are here today (although they are constantly evolving) and producing real value for manufacturers of all shapes and sizes. However, the technological landscape is confusing. This short event is intended to provide a measure of clarity to those trying to make sense of it all.</p>
        <a class="btn smev-content-section__button--light" href="https://www.meetup.com/smevirtual/events/255016658/" role="button">Register Here</a>
      </article>
      <div class="col-xl-6 smev-content-section__flair">
        <!--
          TODO: Add YouTube video.
        -->
      </div>
    </section>

    <section class="p-5 w-100 row smev-content-section smev-content-section__makers">
      <div class="col-xl-6 smev-content-section__flair">
        <!--
          TODO: Add YouTube video.
        -->
      </div>
      <article class="col-xl-6 col-lg-12">
        <span class="badge smev-content-section__time-badge smev-content-section__time-badge--dark">6:00 pm CST</span>
        <h2 class="pt-2">Manufacturing Fundamentals for Students and Makers</h2>
        <div class="pt-4 smev-content-section__presenter">
          <div><a href="https://www.linkedin.com/in/adam-j-cook/">Adam J. Cook</a></div>
          <div>Chief Technical Officer of <a href="https://alliedstrand.com/">Alliedstrand</a></div>
        </div>
        <p class="py-4">Moving from a rough, working prototype to a quality mass produced product can be extremely challenging. Production processes, agile engineering, testing, certifications, quality assurance, shipping, packaging and customer support must all be considered – and at times, considered concurrently. This event seeks to provide an overview of what you should look at on your physical product journey. Common mistakes and options will be presented in detail.</p>
        <a class="btn smev-content-section__button--dark" href="https://www.meetup.com/smevirtual/events/255017309/" role="button">Register Here</a>
      </article>
    </section>

  </main>

  <footer class="w-100 row smev-footer">
    <div class="p-5 col-sm-6">
      <h2>Cannot make it live this year? No problem!</h2>
      <div class="pt-4">
        <div class="pb-4">Join our <strong>Meetup group</strong> to be notified when we launch future events.</div>
        <a class="btn smev-content-section__button--red" href="https://www.meetup.com/smevirtual/" role="button">Join Our Group</a>
      </div>
      <div class="pt-4">
        <div class="pb-4">Subscribe to our <strong>YouTube channel</strong> to watch webinars, workshops and walkthroughs.</div>
        <a class="btn smev-content-section__button--red" href="https://www.youtube.com/smevirtual" role="button">View Our Channel</a>
      </div>
    </div>
    <div class="p-5 col-sm-6 smev-footer__info">
      <h2>Interested in learning more about SME?</h2>
      <div class="pt-4 smev-footer__info-sme">
        <a class="btn smev-content-section__button--dark" href="http://www.sme.org/" role="button">SME Homepage</a>
        <a class="btn smev-content-section__button--dark" href="http://www.sme.org/join/" role="button">Join SME</a>
      </div>
      <h2 class="pt-4">The Fine Print<sup>TM</sup></h2>
      <div class="pt-2 d-flex smev-footer__fp-row">
        <div class="d-flex flex-column flex-xl-row smev-footer__fp-links">
          <a href="https://github.com/smevirtual/mfgday18-website"><strong>Source code for this page</strong></a>
          <a href="https://github.com/smevirtual/community-guidelines">Community Guidelines</a>
          <a href="https://github.com/smevirtual/legal-docs/blob/master/websites-privacy-notice/en-US.md">Privacy and Cookies</a>
          <a href="https://github.com/smevirtual/legal-docs/blob/master/websites-terms-of-use/en-US.md">Terms of Use</a>
          <a href="https://goo.gl/forms/tLNr9Ln6tMzzgV4i2">Contact Us</a>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
